<% include partials/_header %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <td>#</td>
                    <td>Skill</td>
                    <td>Technology</td>
                    <td>Status</td>
                    <td>Comments</td>
                </tr>
                </thead>
                <tbody>
                <% if (data) { %>
                    <% for(var i = 0; i < data.length; i++) { %>
                        <tr>
                            <td><%= (i + 1) %></td>
                            <td><%= data[i].Skill %></td>
                            <td><%= data[i].Technology %></td>
                            <td><%= data[i].Status %></td>
                            <td><%= data[i].Comments %></td>
                        </tr>
                    <% } %>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<% include partials/_footer %>
